<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>父子组件数据交互</title>
    <script src="/vue/common/vue.js"></script>
    <script type="text/javascript">
        window.onload=function () {
                Vue.component('child',{
                    template :`
                        <div>
                        <p :id="p1">{{str}}</p> //<!--用来自父组件的对应属性值为子组件的相关属性设置值-->
</div>
                    `,
                    props:['p1','str'], <!--接受的来自父组件的属性名-->
                    mounted: function(){
                        console.log(this.p1, this.str);
                    }
                });
                    Vue.component('parent',{
                        template:`<div>
                        <!--自己添加子组件时 向子组件传递一些参数 可以直接自定义一个属性值传入 如 str1="值1",str2="值2"
                        也可以在引用的子组件标签上加上一些属性 v-bind 绑定标签属性,绑定父组件的值到某几个属性上
                        然后子组件必须定义一个props数组属性 ,存的是 父组件传入的属性名['str1','str2']
                        -->
                        <child :p1="prtP1" :str="prtStr"></child>
</div>`,
                        data:function () {
                            return {
                                prtP1:'pchid01',
                                prtStr:'传递给紫竹箭的string字符串'
                            }
                        }
                    });
            new Vue({
                el:'#app'
            })
        }
    </script>
</head>
<body>
    <div id="app">
        <parent></parent>
    </div>
</body>
</html>