<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>iview示例</title>
    <link rel="stylesheet" type="text/css" href="/vue/css/iview.css">
    <script src="/vue/common/vue.js"></script>
    <script type="text/javascript" src="/vue/common/iview.min.js"></script>
</head>
<body>
<div id="app">
    <i-button @click="show">Click me!</i-button>
    <Modal v-model="visible" title="Welcome">Welcome to ViewUI</Modal>
</div>
<script>
/**
	vue cli说明:
	1.发起请求时,调用请求index.html页面,index页面会自动导入app.js文件
	2.通过src源文件下的main.js导入vue.js,app入口组件,路由组件
	3.App.vue等vue后缀的文件能够定义组件template模板,js代码,css样式等
	4.router文件夹下的index.js 导入vue.js,vue-router.js和src源文件下的components下的用户vue后缀的组件文件,写法例如:import HelloWorld from '@/components/HelloWorld',
	router文件夹下的index.js文件里面定义路由词典映射用户组件**/

    new Vue({
        el: '#app',
        data: {
            visible: false
        },
        methods: {
            show: function () {
                this.visible = true;
            }
        }
    })
</script>
</body>
</html>